PedacodeCeu-Back/node_modules
PedacodeCeu-Back/dist
PedacodeCeu-Back/.env
PedacodeCeu-Back/coverage

PedacodeCeu-Front/node_modules
PedacodeCeu-Front/build
PedacodeCeu-Front/.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

nginx/certs/
